*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:rgb(231, 231, 61) ;
}
.encabezado{
 
    
    height: 180px;
    text-align: center;
    background-color: rgb(217, 250, 70);
    background-image: url(../Imagrenes/taco.png);
    background-repeat: no-repeat;
    background-size: 156px;
}

.Areaprincipal{
    background-image: url(../Imagrenes/amarillo.webp);
    background-repeat: no-repeat ;
    width:100%;
    height:100%;
    opacity: 1;
    -webkit-background-size:  100% 100%;

    -moz-background-size: 100% ;

    -o-background-size: 100% ;

    background-size: 100%;

}
.Piedepagina{
    width: 10%;
    height: 10%;
    background: rgb(133, 143, 1);
    color: bisque;
    bottom: 0%;
    position: fixed;
    left: 0%;
}

.Nombre{
    position: relative;
    
    top: -55px;
    left: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    word-spacing: 15px;
    letter-spacing: 15px;
    font-size: 45px;
    text-align: center;
    text-shadow: 2px 5px 3px #4b1139;
    color: #f45d4c;
}
.Menu{
 
    position: relative;
    top: 125px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: black;
}
li{
    float:left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(110, 109, 32);
    
}

.datos{
    
    width: 80%;
    background-color: rgb(204, 192, 87);
    height: auto;
    margin: auto;
    opacity: 1;
    
    color: aliceblue;
    padding: 35px;
    font-size:large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table{
   text-align: center;
    padding: 10px;
    height: 100px;
    width: 100px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-spacing: 5px;
    text-shadow: 1px 5px 3px #c97c7a;
    letter-spacing: 10px;
    font-size: 20px;
}
td{
    padding: 0px 10px 10px 10px;
}
